.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  border-radius: 8px;
  border: 2px solid black;
}

.profile {
  justify-content: center;
  justify-items: center;
  height: auto;
  overflow: hidden;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 8px;
}

.description {
  padding: 20px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  background-color: dimgrey;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
}

.tag,
.location {
  color: gray;
}

.stats {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  margin: 0;
  border-top: 2px solid dimgrey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.label {
  display: grid;
  justify-items: center;
  font-size: 14px;
  color: gray;
  padding: 18px;
  color: black;
}
.label:not(:last-child) {
  border-right: 2px solid dimgray;
}
.label:first-child {
  padding-left: 10px;
  padding-right: 10px;
}

.quantity {
  font-weight: bold;
}
